* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-Color1: rgb(167, 50, 42);
  --main-bg-Color2: rgb(207, 177, 42);
  --main-bg-Color3: rgb(77, 161, 38);
  --main-bg-Color4: rgb(3, 114, 179);
  --main-bg-Color5: rgb(124, 58, 185);
  --main-bg-Color6: rgb(48, 8, 100);
}

body {
  height: 100vh;
  background-color: #232323;
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: absolute;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.68, -1.55, 0.265, 1.65);
  width: 768px;
  height: 500px;
}

section:nth-child(1) {
  background-color: var(--main-bg-Color1);
  z-index: 10;
}

section:nth-child(2) {
  background-color: var(--main-bg-Color2);
  z-index: 9;
}

section:nth-child(3) {
  background-color: var(--main-bg-Color3);
  z-index: 8;
}

section:nth-child(4) {
  background-color: var(--main-bg-Color4);
  z-index: 7;
}

section:nth-child(5) {
  background-color: var(--main-bg-Color5);
  z-index: 6;
}

section:nth-child(6) {
  background-color: var(--main-bg-Color6);
  z-index: 5;
}

.mouseover {
  width: 850px;
  height: 480px;
  transition: 0.1s;
}
