* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #232323;
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: absolute;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.68, -1.55, 0.265, 1.65);
  width: 768px;
  height: 500px;
}

section:nth-child(1) {
  background-color: cadetblue;
  z-index: 10;
}

section:nth-child(2) {
  background-color: rgb(28, 73, 75);
  z-index: 9;
}

section:nth-child(3) {
  background-color: rgb(12, 104, 209);
  z-index: 8;
}

section:nth-child(4) {
  background-color: rgb(240, 176, 0);
  z-index: 7;
}

section:nth-child(5) {
  background-color: rgb(211, 95, 186);
  z-index: 6;
}

section:nth-child(6) {
  background-color: rgb(245, 124, 10);
  z-index: 5;
}

.mouseover {
  width: 850px;
  height: 480px;
  transition: 0.1s;
}
